body { font-family: Helvetica; width: 300px; padding: 10px; }
h3 { font-family:'Courier New', Courier, monospace; font-size: 16px; margin: 15px 0 8px 0; color: #5b3710; text-align: center; }
canvas { margin: 10px 0; border-radius: 4px; }

#timeTrendChart {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(248,249,250,0.9));
  border: 1px solid #191a1a;
}

.chart-container {
  margin-bottom: 20px;
  padding: 10px;
  background: #f8f9fa;
  border-radius: 6px;
}

